<% provide(:page_title, t('.all_posts') ) %>
<% provide(:author, 'active') %>

<div class="row">
  <div>
    <%= link_to t('.new_post'), new_authors_post_path, class: 'btn btn-primary btn-lg' %>
  </div>
  <br>
  <table class="table table-striped">
    <tr>
      <th colspan="5"><%= t('.title') %></th>
    </tr>
    <%= render @posts %>
  </table>
</div>

